@media screen and (max-width: 768px) {
  .rdrDefinedRangesWrapper {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .rdrDefinedRangesWrapper {
    display: none !important;
  }

  .rdrCalendarWrapper {
    width: 100%;
  }

  .rdrMonth {
    width: unset;
  }
}
